body {
    /* display: flex; */
    background-image: url("storm.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 50vh;
}

.container {
    background: aqua;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    font-size: 25px;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 5px;
}

#increment-btn {
    background: #2C2891;
    margin: auto;
}

#save-btn {
    background: #1C7947;
    margin: auto;
}

#save-el {
    font-weight: bold;
    font-size: 30px;
}

